
@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #FFF5EE;
}

@theme inline {
  --font-sans: var(--font-sans); 
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}